<a class="custom-button text-decoration-none " type="button" href="{{link}}" data-bs-toggle="{{model}}"
    data-bs-target="{{target}}">
    <div class="arrow-column">
        <span class="arrow-icon">❯</span>
    </div>
    <div class="text-column">
        {{text}}
    </div>
</a>