<div class="certificate-bg py-5">
  <div class="container pb-3">
    <div class="text-white text-start">
      <p>Certifications</p>
      <h2 class="pb-4 text-white">Notable Achievements and Certifications</h2>
    </div>

    <!-- Responsive grid layout -->
    <div class="row">
      <!-- Certificate item -->
      <div class="col-6 col-md-3 col-lg-1-7 mb-3">
        <div class=" rounded-3 p-3 d-flex justify-content-center align-items-center certificate-item" style="height: 150px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="CC-3458">
          <a href="certificates">
            <img src="/public/img/img-163.webp" alt="Certificate 1" class="img-fluid" >
          </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-1-7 mb-3">
        <div class=" rounded-3 p-3 d-flex justify-content-center align-items-center certificate-item" style="height: 150px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="TUV">
          <a href="certificates">
            <img src="/public/img/img-164.webp" alt="Certificate 2" class="img-fluid" >
          </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-1-7 mb-3">
        <div class=" rounded-3 p-3 d-flex justify-content-center align-items-center certificate-item" style="height: 150px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="CSIR">
          <a href="certificates">
            <img src="/public/img/img-165.webp" alt="Certificate 3" class="img-fluid" >
          </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-1-7 mb-3">
        <div class=" rounded-3 p-3 d-flex justify-content-center align-items-center certificate-item" style="height: 150px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="FCRI">
          <a href="certificates">
            <img src="/public/img/img-166.webp" alt="Certificate 4" class="img-fluid" >
          </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-1-7 mb-3">
        <div class=" rounded-3 p-3 d-flex justify-content-center align-items-center certificate-item" style="height: 150px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="IBR">
          <a href="certificates">
            <img src="/public/img/img-167.webp" alt="Certificate 5" class="img-fluid" >
          </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-1-7 mb-3">
        <div class=" rounded-3 p-3 d-flex justify-content-center align-items-center certificate-item" style="height: 150px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="CE">
          <a href="certificates">
            <img src="/public/img/168.webp" alt="Certificate 6" class="img-fluid" >
          </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-1-7 mb-3">
        <div class=" rounded-3 p-3 d-flex justify-content-center align-items-center certificate-item" style="height: 150px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ISO">
          <a href="certificates">
            <img src="/public/img/169.webp" alt="Certificate 7" class="img-fluid" >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Initialize Bootstrap Tooltip -->
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<style>
  /* Custom width for 7 items per row on large screens */
  @media (min-width: 992px) {
    .col-lg-1-7 {
      flex: 0 0 calc(100% / 7);
      max-width: calc(100% / 7);
    }
  }

  /* Custom width for tablet and larger mobile screens - 4 items per row */
  @media (max-width: 767.98px) {
    .col-6 {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
    }
  }

  /* Custom width for smaller mobile screens - 3 items per row */
  @media (max-width: 575.98px) {
    .col-6 {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
    }
  }
</style>
