<section class="event-section">
    <div class="container py-5">
        <div class="row">
            <!-- Left Column: Text Section -->
            <div class="col-12 col-md-12 col-lg-3 mt-3 text-white">
                <h3 class="text-white"><b>Events & <br> Training</b></h3>
                <p class="lead w-75 pb-3">Discover what's happening and what's next</p>
                <a class="custom-button text-decoration-none " type="button" href="#">
                    <div class="arrow-column">
                        <span class="arrow-icon">❯</span>
                    </div>
                    <div class="btext-column">
                        View All
                    </div>
                </a>
            </div>

            <!-- Right Column: Cards -->
            <div class="col-12 col-md-12 col-lg-9">
                <div class="row">
                    <!-- Card 1 -->
                     <div class="col-lg-4 col-md-6 mb-4 d-flex">
                        <div class="event-card card-1 flex-fill">
                            <div class="event-title">Launch Event</div>
                            <div class="card-header">
                                <div class="date-circle ">09 APR</div>
                                <div>
                                    <div class="project-title">Product Launch Event</div>
                                    <div class="time">12:00 to 13:30 Hrs</div>
                                </div>
                            </div>
                            <ol>
                                <li>Expand module is removed</li>
                                <li>Data migration is in scope</li>
                                <li>Session timeout increase to 30 minutes</li>
                            </ol>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="col-lg-4 col-md-6 mb-4 d-flex">
                        <div class="event-card card-1 flex-fill">
                            <div class="event-title">Workshops</div>
                            <div class="card-header">
                                <div class="date-circle ">09 APR</div>
                                <div>
                                    <div class="project-title">Webinars & Workshops</div>
                                    <div class="time">12:00 to 13:30 Hrs</div>
                                </div>
                            </div>
                            <ol>
                                <li>Expand module is removed</li>
                                <li>Data migration is in scope</li>
                                <li>Session timeout increase to 30 minutes</li>
                            </ol>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="col-lg-4 col-md-6 mb-4 d-flex">
                        <div class="event-card card-1 flex-fill">
                            <div class="event-title">About Industry</div>
                            <div class="card-header">
                                <div class="date-circle ">22 APR</div>
                                <div>
                                    <div class="project-title">Industry Panel Discussions</div>
                                    <div class="time">12:00 to 13:30 Hrs</div>
                                </div>
                            </div>
                            <ol>
                                <li>Scope is revised and updated</li>
                                <li>Time-line has been changed</li>
                                <li>Received approval to start wire-frame</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>