body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

:root {
  --black: #333333;
  --blue: #003366;
  --white: #ffffff;
  --shadow: #19334542;
  ---light_grey: #55555521;
  --light_blue: #DAEBFB;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black);
}

h3 {
  /* color: #1f6470 !important;  */
  line-height: 1.1 !important;
  font-size: 35px !important;
  font-weight: 200 !important;
}

.card:hover {
  box-shadow: 0px 16px 40px -8px var(--shadow) !important;
  background-color: var(--white);
}

.card .cardinner:hover {
  box-shadow: none !important;
}

.card-img-wrapper {
  height: 150px;
  /* Adjust the height to show only half of the image */
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

/* event  section css */
.event-section {
  background-color: var(--blue);

}

.custom-btn {
  background-color: #565656;
  font-size: 20px;
  border: none;
  color: var(--white);
  text-align: center;
  padding: 6px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: rgb(20, 45, 65);
}




.btn-no-hover:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.email-list {
  display: flex;
  align-items: center;
  gap: 20px;
  /* Adjust spacing between emails if needed */
}

.email-item {
  margin-top: 0.5rem;
  /* Adjust this value to match the vertical spacing of nav items */
}

.separator {
  border-top: 1px solid #ddd;
  /* Light gray border */
  margin: 5px 0;
  /* Adjust spacing as needed */
}


.top-padding .email-list {
  font-size: 0.875rem;
  /* Adjust the font size as needed */
}

.top-padding .nav-link {
  font-size: 0.875rem;
  /* Adjust the font size as needed */
}

/* Hover effect for navbar links */
.navbar-nav .nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;

}

/* Remove text decoration and set color for email links */
.email-list .email-item a {
  text-decoration: none;
  /* Remove underline */
  color: black;
  /* Set text color to black */
}

.email-list .email-item a:hover {
  color: #007bff;
  /* Change to the desired hover color */
}

/*  */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  i {
    color: var(--black) !important;
    /* Change to the desired hover color */

  }

  ;
  color: var(--black) !important;
  /* Change to the desired hover color */
  background-color: var(--light_blue);
  /* Change to the desired hover background color */
}

/* General Dropdown Menu Styling */
ul.dropdown-menu.show {
  padding: 0;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #ddd;
  width: 250px;
  /* Fixed width for dropdown and nested dropdowns */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  /* Enhanced shadow for depth */
  transition: all 0.3s ease-in-out;
  /* Smooth transition */
  border-radius: 0;
  /* Square corners */
}

/* Hide the default dropdown arrow */
.dropdown-toggle::after {
  display: none;
}

/* Dropdown Items */
.dropdown-item {
  color: #333;
  padding: 12px 20px;
  font-size: 16px;
  /* Larger text for readability */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth hover transition */
  border-bottom: 1px solid #ddd;
  /* Line of separation */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item:last-child {
  border-bottom: none;
  /* Remove line from the last item */
}

.dropdown-item:hover {
  background-color: var(--light_blue);
  color: #000000;
}

/* Nested Dropdown Menu */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: -1px;
  margin-left: -1px;
  /* Removes space between dropdown and nested dropdown */
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  /* Consistent shadow with the main dropdown */
  border-radius: 0;
  /* Square corners */
  display: none;
  /* Hidden by default */
  opacity: 0;
  /* Hidden by default */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Smooth transition */
  transform: translateX(-20px);
  /* Start position for slide-in effect */
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
  /* Show the dropdown */
  opacity: 1;
  /* Make it visible */
  transform: translateX(0);
  /* Slide-in effect */
}

/* Custom Arrow Icons */
.nav-link .fa-chevron-down {
  font-size: 12px;
  color: #000;
}

.dropdown-toggle .fa-chevron-right {
  font-size: 12px;
  color: #000;
  margin-left: 10px;
  visibility: visible;
  /* Ensure visibility */
}

.dropdown-toggle:hover .fa-chevron-right {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

.separator {
  margin: 0;
}



.custom-border {
  border: 3px solid #a1a5aa;
  /* Adjust size and color */
  border-radius: 05px;
}

.navbar-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.top-nav {
  background-color: var(--blue) !important;
}


/* footer css */
.footer {
  padding-top: 40px;
  /* padding-bottom: 20px; */
  background-color: #f8f9fa;
}

.footer h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-bottom {
  background-color: var(--blue) !important;
}

.logo {
  height: 60px;
}

.footer-social {
  background-color: #007bff;
}

.footer a {
  color: #333;
  font-size: 15px;
}



.footer-social a {
  font-size: 18px;
  color: #fff;
}

.footer-social a:hover {
  color: #ddd;
}

.footer .list-unstyled {
  margin: 0;
}

.footer .list-unstyled li {
  margin-bottom: 5px;
}

.footer .container .row div hr {
  border-top: 1px solid var(--black);
  width: 88%;
}

.footer {
  position: relative;
  box-shadow: 0px -3px 20px -7px rgba(0, 0, 0, 0.2);
}

.top-nav-link:hover {
  color: #b6b9bd !important;
}

.main-nav-link:hover {
  color: #007bff !important;
}

.footer a:hover {
  text-decoration: none;
  color: #007bff !important;
}

a.ps-2.text-white:hover {
  color: #b6b9bd !important;
}


/* for cards on homepage */
.special-link {
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  color: black;
}

.special-link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.custom-nav-link {
  color: #000000 !important;
  text-decoration: none;

}

.normal {
  text-decoration: none;
  /* Remove default underline */
  color: black;
  /* Default text color */
  font-weight: normal;
  /* Default font weight */
  position: relative;
  /* To position the pseudo-element */
  background-color: transparent;
}

.normal:hover,
.nav-link.active.normal {
  color: black !important;
  /* Text color on hover and active */
  background-color: transparent;
}

.normal:hover::after,
.nav-link.active.normal::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -4px;
  /* Adjust this value to create space between text and underline */
  height: 2px;
  /* Adjust thickness of the underline */
  background-color: currentColor;
  /* Use the text color for the underline */
  transition: all 0.3s ease;
}

.product-dimensions {
  width: 250px;
  height: 330px;
}

.card-custom-hover:hover {
  border: 1px solid #dee2e6 !important;
  /* Border color on hover */
}


/* about-us */
.director-section1 {
  background-color: #007bff1a;
  /* Soft peach background color */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.director-section2 {
  background-color: var(---light_grey);
  /* Soft peach background color */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.director-heading {
  font-size: 2rem;
  color: #333;
}


.director-image {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .director-section .row {
    align-items: center;
  }
}

h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #000;
}

.video-container iframe,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-boarder {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 32px 20px !important;
  }

  .navbar-expand-lg {
    padding: 0 !important;
  }
}



.top-nav-toggle {
  display: none;
  /* Hidden by default */
}

@media only screen and (max-width: 767px) {
  .top-nav {
    display: none;
    /* Hide the top-nav by default on small screens */
    background-color: #ffc107;
    /* Background color for the mobile view */
    position: fixed;
    top: 0;
    transition: all 0.8s ease-out;
    width: 100%;
    height: 100%;
  }

  .top-nav.show {
    display: block;
    /* Show the top-nav when the 'show' class is added */
  }

  .top-nav-toggle {
    display: block;
    /* Show the toggle button on small screens */
  }
}

/* image,title,breadcrumb on about,contact and other pages */
.picture {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.full-screen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: absolute;
  top: 20px;
  /* left: 115px; */
  color: white;
  z-index: 2;
  /* Ensure text is above the overlay */
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-top: 10px;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: '/';
  padding: 0 5px;
  color: white;
}

.breadcrumb-item.active {
  color: white;
  font-weight: bold;
}

.about-content {
  padding: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 1;
  /* Place the overlay behind the text */
}





.custom-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  height: 300px;
  /* Ensuring all cards are of the same size */
}

.custom-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.custom-card .card-title {
  position: absolute;
  top: 233px;
  /* left: 10px; */
  /* margin: 0; */
  padding: 10px 6px;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--black);
  z-index: 1;}

  .custom-card .card-overlay {
    position: absolute;
    bottom: -100%;
    /* Start hidden below the card */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #daebfb63;
    /* Dark background for visibility */
    color: var(--black);
    /* Text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: bottom 0.3s ease-in-out;
    padding: 15px;
    text-align: center;
  }

  .custom-card:hover .card-overlay {
    bottom: 0;
    /* Slide up to cover the card */
  }

  .custom-card:hover .card-title {
    position: static;
    background-color: transparent;
    color: inherit;
  }

  .card-title,
  .card-text {
    margin: 0;
  }


  /* for clients on homepage */
  .logo-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .logo-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .logo-item {
    min-width: 20%;
    /* Adjust to show a set number of logos at a time */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .logo-item img {
    max-height: 80px;
    max-width: 100%;
    object-fit: contain;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1000;
    font-size: xx-large;
  }

  .prev {
    left: -4px;
  }

  .next {
    right: -6px;
  }

  /* .prev:hover, .next:hover {
  background-color: #555;
} */
  /* Responsive adjustments */
  @media (max-width: 992px) {
    .logo-item {
      min-width: 25%;
      /* 4 logos per slide on medium screens */
    }
  }

  @media (max-width: 768px) {
    .logo-item {
      min-width: 33.33%;
      /* 3 logos per slide on small screens */
    }
  }

  @media (max-width: 576px) {
    .logo-item {
      min-width: 50%;
      /* 2 logos per slide on extra small screens */
    }
  }

  @media (max-width: 400px) {
    .logo-item {
      min-width: 100%;
      /* 1 logo per slide on very small screens */
    }
  }

  .logo-item {
    width: 200px;
    /* Adjust the width as needed */
    height: 150px;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .logo-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  /* product description page */
  .image-container-card {
    display: flex;
    justify-content: center;
    /* Center image horizontally within card */
    align-items: center;
    /* Center image vertically within card */
    padding: 20px;
    /* Padding around the image */
    border: 1px solid #ddd;
    /* Light border for card effect */
    border-radius: 8px;
    /* Rounded corners for card effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    background-color: #fff;
    /* White background for contrast */
    max-width: 100%;
    /* Make card fill the column width */
    margin: auto;
    /* Center card horizontally within column */
  }

  .image-container-card img {
    max-width: 100%;
    /* Ensure the image fits within the container */
    height: 450px;
    /* Maintain aspect ratio */
  }

  @media (max-width: 768px) {
    .image-container-card {
      max-width: 100%;
      /* Adjust to fill smaller screen widths */
    }
  }

  @media (max-width: 576px) {
    .image-container-card {
      max-width: 100%;
      /* Adjust to fill smaller screen widths */
    }
  }

  .custom-container {
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fff;
    padding: 20px;
  }


  .custom-product-description {
    font-size: 1rem;
    margin-top: 15px;
    line-height: 1.6;
    color: #555;
  }

  .custom-product-actions a {
    text-decoration: none;
    color: #fff;
    background-color: var(--blue);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    display: inline-block;
  }

  .custom-product-actions a:hover {
    background-color: #003366;
    color: white;
  }


  /* Adjust modal appearance to blend with your custom design */
  .modal-content {
    background-color: #f4f7f6;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
  }

  .btn-close {
    padding: 0.5rem;
  }

  .btn-close:focus {
    box-shadow: none;
  }

  .modal-body {
    padding: 20px;
  }

  .form-label {
    font-weight: 600;
    color: #555;
  }

  .form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: #333;
  }

  .form-control:focus {
    border-color: #ff4b5a;
    box-shadow: none;
  }

  .btn-primary {
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #003366;
  }


  .spec-label {
    display: inline-block;
    width: 200px;
    /* Adjust width as needed */
    font-weight: bold;
  }

  /* Custom Styles for Contact Page */
  .contact-section {
    padding: 2rem 1rem;
  }

  .contact-info p {
    margin-bottom: 0.3rem;
  }

  .contact-info strong {
    font-weight: bold;
  }

  .form-container {
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;
  }

  .form-container h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .form-label {
    font-weight: 500;
  }


  .sidebar h5 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .blog-links {
    list-style: none;
    padding-left: 0;
  }

  .blog-links li {
    margin-bottom: 0.5rem;
  }

  .blog-links a {
    text-decoration: none;
    color: var(--black);
  }

  .blog-links a:hover {
    color: #007bff;
  }

  /* Image placeholders */
  .image-container img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .sidebar-content-box {
    padding: 1.5rem;
    background-color: #eeeeee;
    margin-bottom: 1.5rem;
  }

  /*  styles for the certificate images */
  .certificate-item {
    background-color: #fff;
    border: #fff 4px solid !important;

  }

  .certificate-item img {
    max-height: 100px;


  }

  .certificate-item:hover {
    border: #7dd0dc 4px solid !important;

    /* transition: all 0.3s ease; */
    img {
      max-height: 80px !important;
      transition: all 0.5s ease;
    }
  }



  /* button style  */
  .custom-button {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
  }

  .arrow-column {
    background-color: #0057a7;
    /* Light blue background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    /* Hidden by default */
    overflow: hidden;
  }

  .arrow-icon {
    opacity: 0;
    /* Arrow hidden by default */
  }

  .text-column {
    background-color: var(--blue);
    /* Dark blue background */
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* forusing on event page */
  .btext-column {
    background-color: var(--white);
    /* Dark blue background */
    color: var(--black);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-button:hover .arrow-column {
    width: 40px;
    /* Show the arrow column on hover */
    padding: 10px;
    /* Restore padding */
    background-color: #3a95dd;
    /* Light blue background */
  }

  .custom-button:hover .arrow-icon {
    opacity: 1;
    /* Show the arrow icon on hover */
  }

  .custom-button:hover .text-column {
    padding-left: 10px;
    /* Adjust padding when arrow is visible */
  }


  /* for the cards */
  .event-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
    position: relative;
  }

  .event-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .date-circle {
    width: 60px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin-right: 20px;
    text-align: center;
  }

  /* Custom colors for each card */
  .card-1 .date-circle {
    background-color: #e1e8fc;
    color: #4d71e0;
  }

  .card-2 .date-circle {
    background-color: #fff3db;
    color: #f6b352;
  }

  .card-3 .date-circle {
    background-color: #dff5f3;
    color: #49beb7;
  }

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .project-title {
    font-size: 16px;
  }

  .time {
    color: #8a8d94;
    font-size: 14px;
  }

  ol {
    padding-left: 20px;
    font-size: 14px;
    color: #555;
  }

  ol li {
    margin-bottom: 5px;
  }

  .view-all {
    text-decoration: none;
    color: var(--black);
    text-align: right;
    display: block;
    margin-top: 40px;
  }

  /* for related products */
  .product-img-wrapper {
    width: 100%;
    height: 200px;
    /* Adjust the height as needed */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-img-wrapper img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .card-link {
    text-decoration: none;
    /* Removes the default underline */
    color: inherit;
    /* Inherits the text color from the card content */
  }

  /* .card-link:hover .card {
  transform: scale(1.05); 
  transition: transform 0.2s ease-in-out;
} */
  .card-title {
    color: var(--blue);
  }

  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }

  body {
    top: 0px !important;
  }

  .skiptranslate.goog-te-gadget {
    display: none !important;
  }

  .skiptranslate {
    display: none !important;
  }

  /* Remove default arrow icon from the select element */
  #custom_translate_dropdown {
    -webkit-appearance: none;
    /* Remove default arrow in WebKit browsers */
    -moz-appearance: none;
    /* Remove default arrow in Firefox */
    appearance: none;
    /* Remove default arrow in other browsers */

    /* Custom styles */
    background: transparent;
    /* Remove default background */
    border: none;
    /* Custom border */
    background-repeat: no-repeat;
    color: var(--white);
  }

  /* Optional: Remove the default arrow for older browsers */
  #custom_translate_dropdown::-ms-expand {
    display: none;
  }

  .custom_option {
    color: var(--black);
  }

  .my-custom-sidebar {
    background-color: #f8f9fa;
    position: sticky;
    top: 20px;
  }

  .my-custom-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    padding: 10px 0;
  }

  .product-list-container {
    /* Removed max-height and overflow properties */
    padding-right: 10px;
    /* Space between scrollbar and products */
  }

  .my-custom-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .my-custom-list li {
    margin-bottom: 0.5rem;
  }

  .my-custom-link {
    text-decoration: none;
    color: #333;
  }

  .my-custom-link:hover {
    color: #007bff;
  }

  .my-custom-button {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .my-custom-dropdown .dropdown-item {
    color: #333;
  }

  .my-custom-dropdown .dropdown-item:hover {
    background-color: #e9ecef;
  }

  .my-custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* Allow cards to grow based on content */
    border: 1px solid #ddd;
    /* Optional: Add a border for better visibility */
    padding: 10px;
    box-sizing: border-box;
  }

  .my-custom-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    /* Ensure images fit within the card without stretching */
    object-fit: contain;
    /* Show the entire image without cropping */
    margin-bottom: auto;
    /* Align the image to the top of the card */
  }

  /* .card-body {
  text-align: center;
  margin-top: auto; 
} */

  .my-custom-price {
    font-size: 1.1rem;
    font-weight: bold;
  }

  /* certifications page */


  /* Image Styling */
  .certificate-img {
    max-width: 100%;
    /* Ensures the image does not exceed the width of the container */
    height: 350px;
    /* Fixed height */
    object-fit: contain;
    /* Ensures the whole image is visible within the fixed height */
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }



  /* Content Styling */
  .certificate-content {
    text-align: center;
  }

  .certificate-box {
    background-color: var(--white);
    /* Light background */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; */
  }

  /* .certificate-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
} */

  .certificate-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }

  .certificate-description {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    max-height: 450px;
    overflow-y: auto;
  }


  /* for certificate logo  component */

  .certificate-bg {
    background-color: var(--blue);
  }

  /* single blog page  */


  .rp-card-img-container {
    position: relative;
  }

  .rp-card-img {
    width: 100%;
    height: auto;
  }

  .rp-overlay-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--blue);
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
  }

  .rp-overlay-link:hover {
    background-color: var(--white);
    color: var(--black);
  }

  .rp-card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .rp-card-category {
    color: grey;
    font-weight: 500;
  }

  .rp-card-footer {
    color: black;
    font-size: 0.8rem;
  }

  .model {
    font-size: 12px;
  }

  /* career page */

  .prospect-card {
    position: relative;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
  }

  .prospect-card h5 {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #333;
  }

  .separator {
    height: 3px;
    width: 40px;
    background-color: #007bff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .become-section p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
  }

  .become-section img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }


  .job-item .job-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #0056b3;
  }

  .job-item .location {
    font-size: 1rem;
    color: #666;
  }


  /* career button */
  .custom-btn-color {
    background-color: var(--blue);
    /* Replace with your desired background color */
    color: white;
    /* Text color */
  }

  .custom-btn-color:hover {
    background-color: #003366;
    /* Replace with your desired hover background color */
    color: white;
  }

  /* map bg  */

  .full-screen-image-section {
    /* background-color: #f0f0f0; */
    padding-top: 60px;
    /* You can adjust the padding as needed */
    padding-bottom: 60px;
  }

  .bg-highlight {
    background-color: #ECF7FD;
    /* Example highlight color */
  }

  .no-click {
    pointer-events: none;
    /* Disable clicking or dragging on the image */
  }

  .footer-heading {
    color: var(--blue);
  }

  .social-media-icon {
    width: 40px
  }