{{> navbar}}
{{!-- img part for title and breadcrumb --}}
{{>title}}

{{!-- below img part  --}}
<div class="container py-4">
    <div class="container my-5">
        <div class="row">
       <div class="col-md-5">
        <p class="text-muted">Get to know who we are!</p>
        <h1>UPC Instruments Pvt. Ltd</h1>
        <h2 class="h4">A strong partner worldwide</h2>
        <p class="pb-4">UPC Instruments Pvt. Ltd established in the year 2013. UPC Instruments Pvt. Ltd is involved in design,
            development and manufacturing of instruments including flow meter instruments used for process measurement
            and process controlling in various industrial operations.

            Under the able, efficient and tactful guidance of our mentor Mr. Ajay Sharma, our company has deliberately
            climbed up its success stories by crossing over several leaps.</p>
        </div>
        <div class="col-md-7">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/muczNvx9fgg?si=sk1PkduEXVG6j1OR" frameborder="0"
                allowfullscreen></iframe>
        </div>
        </div>
        </div>
    </div>

    {{!-- Director's --}}

    <div class="container my-5">
        <h2 class="text-center director-heading mb-5">Meet Our Directors</h2>
        <div class="row g-5">
            <div class="col-md-12">
                <div class="director-section1 p-4">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="\public\img\headshot1.webp" alt="Director Ajay Sharma"
                                class="director-image img-fluid" width="100%" >
                        </div>
                        <div class="col-md-6">
                            <h3 class="director-content-color">Director Ajay Sharma</h3>
                            <p class="director-content-color">I am thrilled to welcome you all as we embark on an exciting journey toward new opportunities and challenges. In today’s ever-evolving landscape, our commitment to innovation, collaboration, and excellence continues to drive us forward. As we navigate this period of growth, I am confident that our shared vision and dedication will help us reach new heights together.
                                I look forward to working closely with each of you to make our goals a reality. Let’s stay motivated, open-minded, and united in our efforts to achieve great things.I encourage all of you to remain agile, forward-thinking, and united in purpose as we strive to exceed expectations. Together, we can unlock new potentials and create lasting impact in our industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="director-section2  p-4">
                    <div class="row">
                         <div class="col-md-6">
                            <h3>Director Ajit Sharma </h3>
                            <p>I am thrilled to welcome you all as we embark on an exciting journey toward new opportunities and challenges. In today’s ever-evolving landscape, our commitment to innovation, collaboration, and excellence continues to drive us forward. As we navigate this period of growth, I am confident that our shared vision and dedication will help us reach new heights together.
                                I look forward to working closely with each of you to make our goals a reality. Let’s stay motivated, open-minded, and united in our efforts to achieve great things.I encourage all of you to remain agile, forward-thinking, and united in purpose as we strive to exceed expectations. Together, we can unlock new potentials and create lasting impact in our industry.</p>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="\public\img\headshot1.webp" alt="Director Ajit Sharma"
                                class="director-image img-fluid" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}
