{{>navbar}}

{{>title}}


<div class="container">
    <div class="container py-5">
        <p class="text-muted">Showcasing Our Achievements!</p>
        <h1>Certifications</h1>
        <p class="">At UPC Instruments, our commitment to excellence is reflected in the numerous certificates we've
            achieved. Each certification represents our dedication to quality, innovation, and industry standards. From
            technical proficiency to exceptional service, our accolades highlight our unwavering pursuit of excellence
            in every aspect of our work. These achievements not only showcase our capabilities but also reassure our
            clients of our expertise and reliability. Explore our certificates to see why UPC Instruments is a trusted
            leader in the industry.</p>
        <!-- Certificate Rows -->
        <!-- First Row: Image on the Left, Content on the Right -->
            <div class="row my-5 align-items-center certificate-row">
                {{#each certificate.data}}
                <div class="row mb-5 align-items-center certificate-row {{#if (even @index)}}{{else}}flex-row-reverse{{/if}}">
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="../../public/uploads/{{this.default_image}}" alt="Certificate" class="certificate-img">
                    </div>
                    <div class="col-md-6 certificate-content">
                        <div class="certificate-box p-4">
                            <h3 class="certificate-title">{{this.name}}</h3>
                            <p class="certificate-description">
                                {{this.meta_description}}
                            </p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        <!-- Additional Rows Follow the Same Pattern -->
        <!-- First Row: Image on the Left, Content on the Right -->
        <div class="row my-5 align-items-center certificate-row">
            <div class="col-md-6 d-flex justify-content-center">
                <img src="/public/img/Certificate-3.webp" alt="Certificate 1" class="certificate-img ">
            </div>
            <div class="col-md-6 certificate-content">
                <div class="certificate-box p-4">
                    <h3 class="certificate-title">Certificate Title 1</h3>
                    <p class="certificate-description">
                        Description for Certificate 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                        pharetra sem eu nisi imperdiet, id posuere velit ullamcorper.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, quia quidem magnam
                        consectetur
                        dolore earum officia mollitia velit accusamus quo laboriosam officiis. Maxime ducimus rerum illo
                        voluptatum ab consectetur ipsam?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quis ea hic non, architecto
                        voluptate ad id blanditiis obcaecati? Aut dolor beatae nihil ab iure ratione ipsum rerum nobis
                        dolorem?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}