{{> navbar}}
{{!-- img part for title and breadcrumb --}}
{{>title}}
{{!-- below img part  --}}
<div class="container my-5 contact-section">
    <div class="row">
        <!-- Main Content Section -->
        <div class="col-lg-8">
            <div class="contact-info mb-4">
        <h2 class="h4">Get in touch with us for any inquiries or assistance!</h2>
                <p class="pt-3"><strong>Email:</strong> info@unitechmeter.com</p>
                <p class=""><strong>Email:</strong> ho@unitechmeter.com</p>
                <p><strong>Corporate Office:</strong> Plot No. 18, Towel Market, Gohana Road, Panipat-132103 (HARYANA)
                </p>
                <p><strong>Manufacturing Unit:</strong> Plot No. 125, Near Tehsil, Dinger Majra Road, Gharaunda,
                    Karnal-132114 (HARYANA)</p>
            </div>

            <div class="form-container">
                <h3>What You Get When Asking Your Question</h3>
                <ul>
                    <li>Less than 12-hour response to your question.</li>
                    <li>Thoroughness and expertise of a Certified Exchange Specialist®.</li>
                    <li>Plan of action summarized in an email follow-up.</li>
                </ul>
          {{> form}}
            </div>
        </div>

        <!-- Sidebar Section -->
        <div class="col-lg-4">
            <div class="image-container mb-3">
                <!-- Placeholder for the first image -->
                <img src="/public/img/img-152.webp" alt="Contact Us Image">
            </div>
            <div class="sidebar-content-box mb-3">
                <h5>UPC Instruments Blog</h5>
                <ul class="blog-links">
                    <li><a href="#">The trend towards miniaturization in flow solutions.</a></li>
                    <li><a href="#">Gas, vapour and pressure control for Catalytic Converter Testing.</a></li>
                    <li><a href="#">Join Us for a Meeting of the Minds and Machines.</a></li>
                    <li><a href="#">Ensuring Consistent Pressure for Effective Catalytic Converter Testing.</a></li>
                </ul>
            </div>
            <div class="image-container mb-3">
                <!-- Placeholder for the second image -->
                <img src="/public/img/img-144.webp" alt="Consultation Image">
            </div>
        </div>
    </div>
</div>

{{> footer}}