{{>navbar}}
{{>title}}
<div class=" container py-5">
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6 col-lg-6 align-self-center py-2">
            <h1>Industries</h1>
            <p>UPC is a global leader in creating innovative and reliable process measurement technology for various
                industries, including energy, manufacturing, and environmental sectors. With a commitment to excellence,
                we provide cutting-edge products, tailored solutions, and top-notch services that not only meet but
                often exceed our customers' expectations in quality, performance, and design. Our dedicated team of
                experts is focused on driving efficiency, improving safety, and ensuring sustainable growth for
                businesses worldwide through our advanced technologies.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-end py-2">
            <img src="../../public/img/industries.png" alt="Industries Image" class="img-fluid">
        </div>
    </div>

      <div class="row my-5">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card custom-card rounded-0 border-0">
          <img src="/public/img/Working man2.webp" class="card-img-top rounded-0" alt="Card Image 1">
          <h5 class="card-title">Chemical</h5>
          <div class="card-overlay">
            <h5 class="card-title">Chemical</h5>
            <p class="card-text">Detailed information about Endress+Hauser at a glance.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card custom-card rounded-0 border-0">
          <img src="/public/img/Working man2.webp" class="card-img-top rounded-0" alt="Card Image 1">
          <h5 class="card-title">Chemical</h5>
          <div class="card-overlay">
            <h5 class="card-title">Chemical</h5>
            <p class="card-text">Detailed information about Endress+Hauser at a glance.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card custom-card rounded-0 border-0">
          <img src="/public/img/Working man2.webp" class="card-img-top rounded-0" alt="Card Image 1">
          <h5 class="card-title">Chemical</h5>
          <div class="card-overlay">
            <h5 class="card-title">Chemical</h5>
            <p class="card-text">Detailed information about Endress+Hauser at a glance.</p>
          </div>
        </div>
      </div>
    </div>


</div>

{{>footer}}